nav.page-indicator {
  text-align: center;
}
nav.page-indicator ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
nav.page-indicator ul li {
  display: block;
  width: 0.5em;
  height: 0.5em;
  background: transparent;
  float: left;
  margin: 0.5em;
  border: 0.2em solid black;
  border-radius: 50%;
}
nav.page-indicator ul li.active {
  background: black;
}
.page {
  display: none;
}
.page p {
  margin: 0;
}
.page.active {
  display: block !important;
}
.big-icon {
  font-size: 300%;
  text-align: center;
}
@media (min-width: 220px) {
  .page {
    display: block;
  }
}
@media (max-width: 300px) {
  html,
  body {
    font-size: 5%;
  }
  nav.page-indicator {
    font-size: 2%;
  }
}
