html, body { word-break: break-all; word-break: break-word;}
.container { width: 95%; margin: 0 auto; }
header { display: none; }
.departure { margin-bottom: 0.5em; }
.transportMode { padding: 0; display: none; }
.transportMode.active { display: block; }
i.fa-spinner { width: 100%; text-align: center; }
#results { padding-bottom: 1em; }
.transportNumber, .transportTime { font-weight: bold;}
.departure:nth-child(n+15) { display: none;}
.align-right { text-align: right; }

@media(min-width: 25em) {
  .container { width: 90%; }
}
@media(min-width: 50em) {
  .container { width: 80%; }
}

