body,
html {
  width: 100%;
  overflow: hidden;
}
h1 a,
h2 a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 95%;
}
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clear {
  clear: both;
}
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header h1 {
  display: inline-block;
  margin: 0;
}
@media (min-width: 768px) {
  header h1 {
    display: block;
  }
}
@media (min-width: 768px) {
  #main-column {
    padding-right: 2em;
  }
}
@media (max-width: 220px) {
  #main-column .item {
    border-bottom: 1px solid grey;
  }
  #main-column .item > * {
    display: none;
  }
  #main-column .item > h2 {
    display: block;
    font-size: 70%;
    font-weight: normal;
  }
}
#side-column {
  display: none;
}
@media (min-width: 220px) {
  #side-column {
    display: block;
  }
}
#side-column ul.latest {
  list-style-type: none;
  padding: 0;
}
#side-column ul.latest li {
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
}
@media (max-width: 220px) {
  html,
  body {
    word-break: break-all;
    word-break: break-word;
    font-size: 33%;
  }
  h1 a {
    padding: 0 !important;
  }
  nav .toggle {
    display: none;
  }
}
