@media(max-width: 220px) {
  html, body {  font-size: 8px; }
  h1 { font-size: 50%; margin: 0;}
  h2 { margin: 0.2em 0; }
  p { margin: 0.2em 0; }
  .pure-g [class *="pure-u"] {
    width: 100%;
  }
  img { display: none; }
  .search-possible {display: none;}
}