@media(max-width: 220px) {
	.transportMode { padding: 0; display: none; }
	.transportMode.active { display: block; }
	.page-indicator {
		display: block;
	}
	.gradient {
		display: block;
		width: 1.5em;
		height: 1.5em;
		position: absolute;
		top: 0;
		left: 0;
	  	background: linear-gradient(135deg, #65b7dd, #65b7dd 50%, #FFFFFF 50%, #FFFFFF 100%) no-repeat;
	}
}