@media(max-width: 220px) {
	.transportMode { padding: 0; display: none; }
	.transportMode.active { display: block; }
	.page-indicator {
		display: block;
	}

	.page-indicator li {
	  display: inline-block;
	  width: 0.5em;
	  height: 0.5em;
	  background: transparent;
	  margin: 0.5em;
	  border: 0.2em solid black;
	  border-radius: 50%;
	}

	.page-indicator li.active {
	  background: black;
	}
	
	.gradient {
		display: block;
		width: 1.5em;
		height: 1.5em;
		position: absolute;
		top: 0;
		left: 0;
	  	background: linear-gradient(135deg, #65b7dd, #65b7dd 50%, #FFFFFF 50%, #FFFFFF 100%) no-repeat;
	}
}